body
{
    background-color: greenyellow;
}
#canvas
{
    border: 1px solid black;
}
#container
{
    position: absolute;
    display: flex; 
    width: 100%; 
    height: 100%; 
    align-items: center; 
    justify-content: center;
    /* margin-left: 50%; */
}