.header {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

.info {
  margin: 20px;
  background-color: #eee;
  padding: 20px;
}

.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.info-subtitle {
  font-size: 14px;
  color: #333;
}

.info-subtext {
  display: none;
  margin-top: 10px;
  font-size: 16px;
}

.footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.table-contact {
  margin: 20px auto;
  border-collapse: collapse;
}

.table-contact-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.table-contact-subtext {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}
  .picture{
    margin-top: 0px;
  }
  .box {
    
    width: 150px;
    float:right;
    margin-right: 55%;
  }