.header
{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
.infoTextHeader
{
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 150%;
}
.infoSubtext{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    font-size: 100%;
    display: none;
}
.infoSubtextHeader
{
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    font-size: 100%;
    display: block;
}