body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .infoTextHeader {
    font-size: 24px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .infoSubtextHeader {
    font-size: 18px;
    margin-left: 60px;
  }
  
  .infoSubtext {
    font-size: 18px;
    margin-left: 60px;
    width: 10%;
    display: none;
  }
  
  .table-contact {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
  }
  
  .table-contactHeader {
    background-color: #ddd;
    font-weight: bold;
    padding: 10px;
  }
  
  .table-contactSubtext {
    padding: 10px;
  }
  
  footer {
    text-align: center;
    margin-top: 100px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    vertical-align: bottom;
  }