.logo {
    vertical-align: top;
    text-align: left;
}
.überschrift {
    text-align: center;
}
.suchleiste {
    width: 50%;
    /* height: 10%; */;
    display: block;
    margin: auto;
}
#query {
    text-align: center;
    display: block;
    margin: auto;
    style="width: 500px; height: 50px; font-size: 20px;"
}
 