.logo {
    vertical-align: top;
    text-align: left;
}
.überschrift {
    text-align: center;
}
.suchleiste {
    width: 50%;
    /* height: 10%; */;
    display: block;
    margin: auto;
}
#search {
    text-align: center;
    display: block;
    margin: auto;
}
.info{
    text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 450px;;
}
/* #body { */
/* } */
