.contact
{
    display: flexbox;
    flex-flow: row wrap;
    margin: auto;
    background-color: #a9a9a9;
    box-sizing: border-box;
    vertical-align: bottom;
    position: relative;
}
body {
    padding:0;
    margin:0;
}
.table-contactHeader
{
    text-align: left;
    font-weight: bold;
    font-size: 150%;
    vertical-align:middle;
}
.table-contact
{
    border-collapse: collapse;
    width: 100%;
}

.table-contactSubtext
{
    text-align: left;
    font-size: 150%;
}
